TMDB_API_KEY=
NEXSTREAM_API_KEY=
NEXSTREAM_BASE_URL=
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
NEXT_PUBLIC_SITE_URL=https://4-plex.vercel.app
GOOGLE_SITE_VERIFICATION=
CONTACT_EMAIL=
